<!DOCTYPE html>
<html ng-app="TransitPopupApp">
<head>
  <meta charset="utf-8"/>
  <title>TransIt</title> 
  <link rel="stylesheet" href="css/popup.css" type="text/css" />
</head>
<body>
  <input type="text" id="source" placeholder="输入单词 ..." />

  <section id="result"></section>

  <footer ng-controller="OptionsCtrl" >
    <a href="#" class="btn-options pull-right" title="偏好设定"></a>

    <input type="checkbox" name="pageInspect" id="optionPageInspect" ng-model="options.pageInspect" />
    <label for="optionPageInspect" title="页面划词"></label>

    <input type="checkbox" name="linkInspect" id="optionLinkInspect" ng-model="options.linkInspect" />
    <label for="optionLinkInspect" title="链接划词"></label>
  </footer>
  
  <script src="js/angular.min.js" type="text/javascript"></script>
  <script src="js/jquery-2.1.0.min.js" type="text/javascript"></script>
  <script src="js/application.js" type="text/javascript"></script>
  <script src="js/popup.js" type="text/javascript"></script>
</body>
</html>
