#transit-popup {
	line-height: 1.5;
	font-size: 14px;
	text-align: left;
  position: fixed;
  display: none;
  right: 0;
  top: 0;
  z-index: 2147483647;
}

.success { 
  background: #336721;
  padding: 3px 6px;
  color: #EDF8ED;
}

.warning { 
	background: #FFF8DC;
	padding: 3px 6px;
	color: #888888;
}

a.transit-link {
  text-decoration: none !important;
  cursor: text !important;
}
