#transit-notify-list {
    background: transparent;
    position: fixed;
    z-index: 2147483647;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 250px;
    right: 5px;
    top: 5px;
    text-align: left;
}

.transit-notify {
    display: none;
    line-height: 1.5;
    font-size: 14px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #000000;
    opacity: 0.9;
}

.transit-notify h6 {
    margin: 0;
    font-size: 16px;
}

.transit-notify .success { 
    background: #336721;
    padding: 3px 6px;
    color: #EDF8ED;
}

.transit-notify .warning { 
    background: #FFF8DC;
    padding: 3px 6px;
    color: #888888;
}

a.transit-link {
    text-decoration: none !important;
    cursor: text !important;
}
