body {
  background: #efefe9;
  margin: 0;
  padding: 0;
  color: #555;
}

.board {
  width: 75%;
  margin: 60px auto;
  background: #fff;
}

.borad-header {
  background: #fafafa url(../img/bg.png);
  background-size: 30%;
  border-bottom: 1px solid #eeeeee;
  padding: 10px 30px;
}

.borad-header .title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 48px;
  display: inline-block;
}

.borad-header img {
  vertical-align: top;
}

.board-content {
  padding: 30px;
}

input[type=range] {
  vertical-align: middle;
}

.form-group .alert {
   margin-top: 10px;
   margin-bottom: 0;
}