@import "includes/link-colors";

[class*='transit-'], [class*='transit-'] * {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  width: auto;
  height: auto;
  background: none;
  border-radius: 0;
  text-align: left;
}

.transit-notify-list {
  background: transparent;
  position: fixed;
  margin: 0;
  padding: 0;
  z-index: 2147483647;
  width: 250px;
  right: 15px;
  top: 35px;
  text-align: left;
  overflow: auto;
  max-height: calc(100% - 40px);

  &::-webkit-scrollbar {
    display: none;
    width: 0px;
  }

  .transit-list-inner {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.transit-list-full {
  bottom: 5px;
}

.transit-notify {
  z-index: 2147483647;
  max-width: 250px;
  min-width: 150px;
  line-height: 1.5;
  font-size: 14px;
  margin-bottom: 5px;
  text-align: left;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #000000;
  opacity: 0.9;

  @import 'includes/_transit_result';
}

a.transit-notify-close {
  float: right;
  text-decoration: none;
  margin-right: 3px;
  font-size: .8em;
  @include link-colors(#aaa, #999, #999, #aaa);
}

// typo `translt` to ignore style reset.
.translt-link-inspect-mode a {
  text-decoration: none !important;
  pointer-events: none !important;
}
