@import 'includes/transit_result';
@import 'includes/sprite';

body {
  width: 200px;
  margin: 0;
  padding: 7px;
  font-size: 14px;
  line-height: 20px;
  color: #555;
}

.ng-hide {
  display: block!important;
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.pull-right {
  float: right;
}

#source {
  -webkit-appearance: textfield;
  border: 1px inset #e0e0e0;
  background-color: #fefbf5;
  resize: none;
  font-size: 14px;
  line-height: 20px;
  color: #555;
  width: 100%;
  height: 20px;
  max-height: 80px;
  margin: 0 0 2px 0;
  padding: 2px 4px;
  font-weight: bold;
  box-sizing: border-box;

  &:active, &:focus {
    outline: -webkit-focus-ring-color auto 3px;
  }
}

.btn-translator {
  width: 29px;
  height: 16px;
  margin-right: 69px;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center center;

  &.youdao {
    background-size: 29px 16px;
    background-image: url(../img/translators/youdao.png);
  }

  &.baidu {
    background-image: url(../img/translators/baidu.png);
  }

  &.bing {
    background-image: url(../img/translators/bing.png);
  }
}

.transit-result {
  max-height: 200px;
  margin-top: 7px;
  padding: 3px 6px;
  overflow-y: auto;
  white-space: pre-line;

  &.transit-success {
    background: #efffef;
    color: #2B3F29;
  }

  &.transit-warning {
    background: #FFF8DC;
    color: #888888;
  }

  h6 {
    display: none;
  }
}

footer {
  height: 16px;
  margin-top: 7px;
}

.checkbox-inline {
  display: inline-block;
  cursor: pointer;

  input {
    display: none;
  }

  input:not(:checked) + .icon {
    opacity: 0.3;
  }
}

.translator-logo {
  height: 16px; 
}