<div class="col-md-6">
  <div class="feature row">
    <div class="col-xs-4">
      <img src="<%= feature.picture %>" />
    </div>
    <div class="col-xs-8">
      <h4><%= feature.title %></h4>
      <p><%= feature.content %></p>
    </div>
  </div>
</div>
