<!DOCTYPE html>
<html ng-app="TransitApp" ng-csp>
<head>
  <meta charset="utf-8"/>
  <title>TransIt</title> 

  <link rel="stylesheet" href="css/popup.css" type="text/css" />
</head>
<body>
  <div class="translator" ng-controller="TranslateCtrl">
    <textarea id="source" placeholder="输入文字进行翻译 ..."
              ng-model="source"
              ng-trim="false"
              ng-keydown="handleKeydown($event)"
              ng-keyup="handleChange($event)"
              msd-elastic></textarea>

    <div id="result" ng-bind-html="output | html_safe"></div>
  </div>

  <footer ng-controller="OptionsCtrl">
    <a href="#" title="偏好设定"
       class="pull-right"
       ng-click="openExtensionPage()">
       <span class="icon icon-cog"></span>
    </a>

    <a href="#" title="点击切换翻译服务"
       class="btn-translator pull-right {{options.translator}}"
       ng-click="nextTranslator()"></a>

    <label class="checkbox-inline" title="页面划词">
      <input type="checkbox" ng-model="options.pageInspect" />
      <span class="icon icon-text"></span>
    </label>

    <label class="checkbox-inline" title="链接划词（Ctrl+Shift+L）">
      <input type="checkbox" ng-model="options.linkInspect" /> 
      <span class="icon icon-link"></span>
    </label>
  </footer>
  
  <script src="js/popup.js" type="text/javascript"></script>
</body>
</html>
